header.header
	nav.wrapper.nav
		ul
			li
				a.nav_a(href="#") Main
				a.nav_a(href="#") About
	.menu
		.app-menu
			.cont
				ul
					li
						a.nav_a(href="#") Main
						a.nav_a(href="#") About
	.menu-icon
		.b_menu