header.header
	nav.wrapper.nav
		ul
			li
				a.nav_a(href="../../index.html") Main
				a.nav_a(href="#") About
				a.nav_a(href="/pages/projects/starnight.html") Project exampl
	.menu
		.app-menu
			.cont
				ul
					li
						a.nav_a(href="../../index.html") Main
						a.nav_a(href="#") About
						a.nav_a(href="/pages/projects/starnight.html") Project exampl
	.menu-icon
		.b_menu