section.popup
	.popup_bg
	.popup_form
		.close_icon
			.fas.fa-times-circle
		.cont
			form(method="POST" action="send")
				input(type="text" name="name" placeholder="Name" required="true")
				input(type="email" name="email" placeholder="Email" required="true")
				textarea(type="text" name="offer" placeholder="Your awsome job!" rows="5" required="true")
				button.form_btn(type="submit") Send