footer {
	&{
		flex: 0 0 auto;
		height: 80px;
	}

	&.copyright{
		align-items: center;
		background-color: $grey;
		padding:30px 0;
		display: flex;
		font-size: .7rem;
		justify-content: center;
		text-align: center;
	}
}