extends template/main

block variables
	- var title = 'FoX';

block content
	section.wrapper.main_scr
		.bg
		.front
			.title_name FoX
			.sub_title design & coding
			.social
				a(href="https://github.com/FoX-Dus")
					.fab.fa-codepen
				a(href="https://vk.com/id287523048")
					.fab.fa-vk
				a.show_popup(href="#")
					.fa.fa-envelope

	include ./modules/popup/popup
block scripts
	script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
	script(defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js" integrity="sha384-R5JkiUweZpJjELPWqttAYmYM1P3SNEJRM6ecTQF05pFFtxmCO+Y1CiUhvuDzgSVZ" crossorigin="anonymous")
	script(src="static/js/libs.min.js")
	script(src="static/js/main.js")